html
{
  font-size:24px;
  background-color: hsl(0deg 0% 14%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  min-height:100vh;
  color:white;
}

.status
{
  font-size:1rem;
  font-weight:bold;
  margin:0;
}

.status {
  margin-bottom: 10px;
}
.start-new-game
{
  background:transparent;
  border:1px solid white;
  border-radius: 5px;
  padding:5px 0;
  cursor:pointer;
  outline: none;
  color:white;
  margin:15px 0;
  font-size:16px;
  transition:all 0.3s;
}
.start-new-game:hover
{
  background-color: white;
  color:black;
}

.board
{
  display:grid;
  grid-template-columns: repeat(1fr, 3);
}

.square {
  background: #6900ca;
  border: 1px solid #fff;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 34px;
  height: 5rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 5rem;
  cursor:pointer;
  color:white;
  border-radius:3px;
}

.square:hover
{
  transform: scale(1.05);
}

.square:focus {
  outline: none;
}

.square-o {
  background: #00bf70;
}
.square-x
{
  background:#1e9be4;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
